
.box{
    margin: auto;
    width: 400px;
    height: 400px;
    margin-top: 120px;
    background: linear-gradient(#225599, hsl(228, 85%, 49%));
    border-radius: 10px;
    box-shadow: 3px 3px #202020;
    filter: opacity(0.9);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
#user{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-left: 90px;
    border-radius: 10px;
    box-shadow: 2px 2px #f9f9f9;
}
#username{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #f9f9f9;
}
#password{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 90px;
    border-radius: 10px;
    box-shadow: 2px 2px #f9f9f9;
}
#pass{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #f9f9f9;
}
#check{
    display: flex;
    margin-left: 80px;
    margin-top: 15px;

}
#lembrar{
    display: flex;
    margin-left: 100px;
    margin-top: -16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: black;
}
#forgot{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    margin-left: 205px;
    margin-top: -26px;
}
#forgot:hover{
    text-decoration: underline;
}
#login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    box-shadow: 2px 2px #f9f9f9;
    border: 1px solid #3c3c3c;
}
#login:hover{
    background-color: black;
    color: #f9f9f9;

}

